body
{
color:white;
background:black;
background:url("../img/abstracto.jpg");
margin:0;
padding:0;
}

.fondo
{
width:700px;
background:url("../img/fondo.png");
height:auto;
}

.baner
{
margin:0;
padding:0;

}

.white-background-alpha
{
background:url("../img/white-background-alpha.png");
color:black;
font-family:verdana, arial;
font-size:11px;
margin:10px;
margin-top:0;
padding:15px;

}

.text
{
font-family:verdana, arial;
font-size:11px;
color:black;
}

.textbox
{
border:solid 1px #888888;
color:#555555;
width:300px;
 background:white;
 font-size:11px;
 height:20px;
 line-height:1;
}

.btnsend
{
width:106px;
height:106px;
border:none;
background:url(../img/send.png);
cursor:pointer;
}
.btncancel
{
width:106px;
height:106px;
border:none;
background:url(../img/cancel.png);
cursor:pointer;
}


.menu
{
background:transparent;
width:645px;
height:40px;
background:white;
}

.ulmenu
{
margin:0;
padding:0;
list-style:none;
background:transparent;
width:366px;


}

.limenu
{
margin:0;
padding:0;
list-style:none;
float:left;
background:gray;
width:50%;
height:30px;
padding-top:10px;
background:#fff;
background:url("../img/btn.jpg");
font-family:verdana, arial;
font-size:12px;
cursor:pointer;
}

.limenu:hover
{

background:url("../img/btn2.jpg");
}

.enlace
{
font-family:verdana, arial;
font-size:12px;
text-decoration:none;
color:white;
}

.mostrardoralteraciones
{
background:#efefef;
border-top-right-radius:17px;
border-bottom-left-radius:17px;
width:580px;
height:auto;
box-shadow:10px 10px 10px #888;
padding:10px;
text-align:left;
border:solid 1px #dddddd;
}

.lector
{
width:100%;
border-radius:15px;
background:white;
padding-left:5px;
padding-top:6px;
padding-bottom:6px;
cursor:pointer;

font-family:verdana, arial;
font-size:12px;
text-decoration:none;

}